@tailwind components;
@tailwind utilities;
@tailwind base;
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #2a1f13;
		--card: #ffffff;
		--card-foreground: #2a1f13;
		--popover: #ffffff;
		--popover-foreground: #2a1f13;
		--primary: #4b3d37;
		--primary-foreground: #050505;
		--secondary: #f4f4f2;
		--secondary-foreground: #4b3d37;
		--muted: #f4f4f2;
		--muted-foreground: #6b6f72;
		--accent: #f4f4f2;
		--accent-foreground: #4b3d37;
		--destructive: #d83c39;
		--destructive-foreground: #f8f9f4;
		--border: #e6e6e6;
		--input: #e6e6e6;
		--ring: #2a1f13;
		--radius: 0.5rem;
		--primary-text: #111827;
		--secondary-text: #f3f4f6;
		--tertiary-text: #e5e7eb;
		--secondary-background: #0f172a;
		--bubbles-background: #374151;
		--bubbles-mine-background: #f35d1c;
	}
	.dark {
		--background: #2a1f13;
		--foreground: #f8f9f4;
		--card: #2a1f13;
		--card-foreground: #f8f9f4;
		--popover: #2a1f13;
		--popover-foreground: #f8f9f4;
		--primary: #f8f9f4;
		--primary-foreground: #4b3d37;
		--secondary: #1e1917;
		--secondary-foreground: #f8f9f4;
		--muted: #1e1917;
		--muted-foreground: #605a4f;
		--accent: #1e1917;
		--accent-foreground: #f8f9f4;
		--destructive: #9d2c1b;
		--destructive-foreground: #f8f9f4;
		--border: #1e1917;
		--input: #1e1917;
		--ring: #847c75;
		--primary-text: #f9fafb;
		--secondary-text: #374151;
		--tertiary-text: #4b5563;
		--secondary-background: #f3f4f6;
		--bubbles-background: #ffffff;
		color-scheme: light dark;
	}
}
.chat {
	margin-top: 8px;
	max-height: calc(100vh - 180px);
	overflow: hidden;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}
.chat::-webkit-scrollbar {
	display: none;
	width: 0;
	background: transparent;
}
.chat-article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 8px auto;
	padding-left: 16px;
	padding-right: calc(16px + 10vw);
	animation: 0.15s ease-in-out message;
	box-sizing: content-box;
}
.chat-article.moi {
	padding-left: calc(16px + 10vw);
	padding-right: 16px;
}
.moi .chat-name {
	text-align: right;
	justify-self: end;
	grid-column: 1/3;
}
.moi .chat-message {
	border-radius: 16px;
	border-bottom-right-radius: 0;
	background: var(--bubbles-mine-background);
	color: white;
	justify-self: end;
}
.chat-name {
	font-weight: 500;
	color: var(--primary-text);
}
.chat-message {
	color: var(--secondary-text);
	background-color: var(--bubbles-background);
	margin-bottom: 1em;
	padding: 16px;
	margin: 0.5em 0;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	box-shadow:
		0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px -1px rgba(0, 0, 0, 0.1);
	text-overflow: ellipsis;
	line-height: 1.4;
	grid-column: 1/3;
	justify-self: start;
	white-space: pre-line;
	position: relative;
}
.chat-form {
	position: fixed;
	bottom: 8px;
	width: calc(100% - 16px);
	max-width: 1000px;
	left: 50%;
	transform: translateX(calc(-50% - 8px));
	height: 72px;
	margin: 0 8px;
	box-shadow:
		0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 8px 10px -6px rgba(0, 0, 0, 0.1);
	background-color: rgba(55, 65, 81, 0.8);
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px);
	border-radius: 16px;
	display: flex;
	z-index: 3;
}
.dark .chat-form {
	background-color: rgba(255, 255, 255, 0.8);
}
.chat-input {
	color: white;
	width: 100%;
	max-width: 1000px;
	border: 0;
	background: transparent;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 72px;
	font-family: inherit;
	border: 3px solid transparent;
	border-radius: 16px;
}
.dark .chat-input {
	color: #111827;
}
.chat-input::-moz-placeholder {
	color: #9ca3af;
}
.chat-input::placeholder {
	color: #9ca3af;
}
.dark .chat-input::-moz-placeholder {
	color: #6b7280;
}
.dark .chat-input::placeholder {
	color: #6b7280;
}
.chat-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 48px;
	height: 48px;
	border: 0;
	border-radius: 5px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 0;
	transition: 0.15s ease-in-out opacity;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' stroke-width='1.5' stroke='%23ffffff'%3E%3Cpath d='M3.78963301,2.77233335 L24.8609339,12.8499121 C25.4837277,13.1477699 25.7471402,13.8941055 25.4492823,14.5168992 C25.326107,14.7744476 25.1184823,14.9820723 24.8609339,15.1052476 L3.78963301,25.1828263 C3.16683929,25.4806842 2.42050372,25.2172716 2.12264586,24.5944779 C1.99321184,24.3238431 1.96542524,24.015685 2.04435886,23.7262618 L4.15190935,15.9983421 C4.204709,15.8047375 4.36814355,15.6614577 4.56699265,15.634447 L14.7775879,14.2474874 C14.8655834,14.2349166 14.938494,14.177091 14.9721837,14.0981464 L14.9897199,14.0353553 C15.0064567,13.9181981 14.9390703,13.8084248 14.8334007,13.7671556 L14.7775879,13.7525126 L4.57894108,12.3655968 C4.38011873,12.3385589 4.21671819,12.1952832 4.16392965,12.0016992 L2.04435886,4.22889788 C1.8627142,3.56286745 2.25538645,2.87569101 2.92141688,2.69404635 C3.21084015,2.61511273 3.51899823,2.64289932 3.78963301,2.77233335 Z' fill='%23ffffff'/%3E%3C/svg%3E");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
.dark .chat-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' stroke-width='1.5' stroke='%232a1f13'%3E%3Cpath d='M3.78963301,2.77233335 L24.8609339,12.8499121 C25.4837277,13.1477699 25.7471402,13.8941055 25.4492823,14.5168992 C25.326107,14.7744476 25.1184823,14.9820723 24.8609339,15.1052476 L3.78963301,25.1828263 C3.16683929,25.4806842 2.42050372,25.2172716 2.12264586,24.5944779 C1.99321184,24.3238431 1.96542524,24.015685 2.04435886,23.7262618 L4.15190935,15.9983421 C4.204709,15.8047375 4.36814355,15.6614577 4.56699265,15.634447 L14.7775879,14.2474874 C14.8655834,14.2349166 14.938494,14.177091 14.9721837,14.0981464 L14.9897199,14.0353553 C15.0064567,13.9181981 14.9390703,13.8084248 14.8334007,13.7671556 L14.7775879,13.7525126 L4.57894108,12.3655968 C4.38011873,12.3385589 4.21671819,12.1952832 4.16392965,12.0016992 L2.04435886,4.22889788 C1.8627142,3.56286745 2.25538645,2.87569101 2.92141688,2.69404635 C3.21084015,2.61511273 3.51899823,2.64289932 3.78963301,2.77233335 Z' fill='%232a1f13'/%3E%3C/svg%3E");
}
.chat-button:disabled {
	opacity: 0.5;
}

@keyframes message {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
}
@media (prefers-reduced-motion) {
	.chat-article {
		animation-name: fade;
	}
} /*# sourceMappingURL=index.css.map */
