@tailwind components;
@tailwind utilities;
@tailwind base;

:focus {
	outline: none;
}

@layer base {
	:root {
		--tchat-max-width: 80%;
		--radius: 1rem;

		--tone-one: #f0f4fa;
		--tone-bis: #d9e2ed;
		--tone-ter: #b3c1d4;

		--tint-one: #121820;
		--tint-bis: #2a3542;
		--tint-ter: #4d5b6a;

		--orange: #ec8200;
		--purple: #9b30ff;
		--acc-one: #f0f4fa;
		--acc-bis: #d6dae0;
	}

	.dark {
		--tone-one: #1a1f26;
		--tone-bis: #2e3540;
		--tone-ter: #424955;

		--tint-one: #d6dae0;
		--tint-bis: #afb3ba;
		--tint-ter: #8c9199;
	}
}

body {
	background-color: var(--tone-one);
	color: var(--tint-one);
}

* {
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
	width: 0;
	background: transparent;
}

.tchat {
	height: calc(100vh - 136px);
	width: 100vw;
}

.grpL {
	height: calc(100vh - 72px);
}

.connect {
	width: 100vw;
}

@media (min-width: 768px) {
	.connect {
		width: calc(100vw - 20rem);
	}
	.tchat {
		width: calc(100vw - 20rem);
	}
}

button.envoyer {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' stroke-width='1.5' stroke='%232c2c2c'%3E%3Cpath d='M3.78963301,2.77233335 L24.8609339,12.8499121 C25.4837277,13.1477699 25.7471402,13.8941055 25.4492823,14.5168992 C25.326107,14.7744476 25.1184823,14.9820723 24.8609339,15.1052476 L3.78963301,25.1828263 C3.16683929,25.4806842 2.42050372,25.2172716 2.12264586,24.5944779 C1.99321184,24.3238431 1.96542524,24.015685 2.04435886,23.7262618 L4.15190935,15.9983421 C4.204709,15.8047375 4.36814355,15.6614577 4.56699265,15.634447 L14.7775879,14.2474874 C14.8655834,14.2349166 14.938494,14.177091 14.9721837,14.0981464 L14.9897199,14.0353553 C15.0064567,13.9181981 14.9390703,13.8084248 14.8334007,13.7671556 L14.7775879,13.7525126 L4.57894108,12.3655968 C4.38011873,12.3385589 4.21671819,12.1952832 4.16392965,12.0016992 L2.04435886,4.22889788 C1.8627142,3.56286745 2.25538645,2.87569101 2.92141688,2.69404635 C3.21084015,2.61511273 3.51899823,2.64289932 3.78963301,2.77233335 Z' fill='%232c2c2c'/%3E%3C/svg%3E");
	background-size: 1.5rem;
}

.dark button.envoyer {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28' stroke-width='1.5' stroke='%23f5f5f5'%3E%3Cpath d='M3.78963301,2.77233335 L24.8609339,12.8499121 C25.4837277,13.1477699 25.7471402,13.8941055 25.4492823,14.5168992 C25.326107,14.7744476 25.1184823,14.9820723 24.8609339,15.1052476 L3.78963301,25.1828263 C3.16683929,25.4806842 2.42050372,25.2172716 2.12264586,24.5944779 C1.99321184,24.3238431 1.96542524,24.015685 2.04435886,23.7262618 L4.15190935,15.9983421 C4.204709,15.8047375 4.36814355,15.6614577 4.56699265,15.634447 L14.7775879,14.2474874 C14.8655834,14.2349166 14.938494,14.177091 14.9721837,14.0981464 L14.9897199,14.0353553 C15.0064567,13.9181981 14.9390703,13.8084248 14.8334007,13.7671556 L14.7775879,13.7525126 L4.57894108,12.3655968 C4.38011873,12.3385589 4.21671819,12.1952832 4.16392965,12.0016992 L2.04435886,4.22889788 C1.8627142,3.56286745 2.25538645,2.87569101 2.92141688,2.69404635 C3.21084015,2.61511273 3.51899823,2.64289932 3.78963301,2.77233335 Z' fill='%23f5f5f5'/%3E%3C/svg%3E");
	background-size: 1.5rem;
}
